[submodule "Modules/unbound"]
	path = Modules/unbound
	url = https://github.com/breadwallet/unbound.git
[submodule "Modules/nettle"]
	path = Modules/nettle
	url = https://github.com/breadwallet/nettle.git
[submodule "Modules/primuswallet-core"]
	path = Modules/primuswallet-core
	url = git@git.volatileio.com:primus/wallet-core.git
